.field--type-scheduling .form-item,
tr.odd .field--type-scheduling .form-item,
tr.even .field--type-scheduling .form-item {
  margin: 0.75em 0;
}

.field--type-scheduling .form-item.form-type-select {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.field--type-scheduling fieldset:not(.fieldgroup) {
  padding-top: 5px;
}

.field--type-scheduling input.published {
  margin-left: 1em;
}

.field--type-scheduling > div > .form-wrapper {
  padding-bottom: 10px;
  margin-bottom: -8px;
  margin-top: -1px;
}

.field--type-scheduling .row {
  display: flex;
  border-bottom: 1px solid #c0c0c0;
  margin: 0;
  padding: 0;
}

.field--type-scheduling .item {
  border-bottom: 1px solid #c0c0c0;
}

.field--type-scheduling .item .row {
  border-bottom: 1px dotted #e6e4df;
}

.field--type-scheduling .item .row:first-of-type {
  /*border-top: none;*/
}

.field--type-scheduling .row.range {
  justify-content: space-between;
}

.field--type-scheduling .row.recurring > .form-checkboxes {
  display: flex;
  flex-grow: 1;
  align-self: center;
}

.field--type-scheduling .row.recurring > .form-checkboxes > .form-item > input {
  display: none;
}

.field--type-scheduling .row.recurring > .form-checkboxes > .form-item > label {
  display: inline-block;
  line-height: normal;
  padding: 4px 10px;
  border: 1px solid #c0c0c0;
  border-radius: 20em;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.6);
  color: #c0c0c0;
  margin-right: 5px;
}

.field--type-scheduling .row.recurring > .form-checkboxes > .form-item > input:checked ~ label {
  background: #a6a6a6;
  border-color: #a6a6a6;
  text-shadow: none;
  color: #ffffff;
}
